<% unless @user.errors.any? %>
  $('#form-registr').html('<%= I18n.t('user.registr.done') %>')
<% else %>
  $('#form-registr #error-form').html('<span><%= I18n.t('error') %></span> <%= I18n.t('user.registr.error') %>')

  <% if @user.errors[:email].first %>
    $('#form-registr #error-email').html('<span><%= I18n.t('error') %></span> <%= @user.errors[:email].first %>')
  <% else %>
    $('#form-registr #error-email').html('')
  <% end %>

  <% if @user.errors[:password].first %>
    $('#form-registr #error-password').html('<span><%= I18n.t('error') %></span> <%= @user.errors[:password].first %>')
  <% else %>
    $('#form-registr #error-password').html('')
  <% end %>

  <% if @user.errors[:name].first %>
    $('#form-registr #error-name').html('<span><%= I18n.t('error') %></span> <%= @user.errors[:name].first %>')
  <% else %>
    $('#form-registr #error-name').html('')
  <% end %>
<% end %>
