<%= form_tag(:login, method: :post, remote: true, id: 'form-login', class: 'form') do %>
<dl>
  <dt>
    <div id="error-form" class="form-error"></div>
  </dt>
  <dt>
    <strong><%= label_tag :email, 'E-mail:' %></strong>
  </dt>
  <dt>
    <div id="error-email" class="form-error"></div>
  </dt>
  <dd>
    <%= text_field_tag :email, nil, :class => "form-input" %>
  </dd>
  <dt>
    <strong><%= label_tag :email, 'Пароль:' %></strong>
  </dt>
  <dt>
    <div id="error-password" class="form-error"></div>
  </dt>
  <dd>
    <%= password_field_tag :password, nil, :class => "form-input" %>
  </dd>
  <div class="form-line">
    <%= check_box_tag :remember %>
    <%= label_tag :remember, 'Запомнить меня' %>
    <%= link_to 'Забыли пароль?' %>
  </div>
  <%= submit_tag 'Вход', :class => "big-button anim-button big-g-button", :remote => true %>

<% end %>
