<%= form_tag(:login, method: :post, remote: true, id: 'form-login', class: 'form-stacked') do %>
  <div id="form-error"></div>
  <fieldset>
    <div id="input-email" class="clearfix">
      <%= label_tag :email, 'E-mail:' %>
      <div class="input">
        <%= text_field_tag :email, nil, class: 'xlarge' %>
        <span class="help-inline"></span>
      </div>
    </div>
    <div id="input-password" class="clearfix">
      <%= label_tag :password, 'Пароль:' %>
      <div class="input">
        <%= password_field_tag :password, nil, class: 'xlarge' %>
        <span class="help-inline"></span>
      </div>
    </div>
    <div class="clearfix">
      <div class="input">
	<label>
	  <%= check_box_tag :remember %>
	  <%= content_tag :span, 'Запомнить меня' %>
	</label>
      </div>
    </div>

  <div class="actions">
    <%= submit_tag 'Вход', class: 'btn primary' %>
  </div>
<% end %>
