<%= form_for(@user, url: :register, remote: true, html: { id: 'form-registr', class: 'form' }) do |f|%>
<dl>
  <dt>
    <div id="error-form" class="form-error"></div>
  </dt>
  <dt>
    <strong><%= f.label :email, 'E-mail:' %></strong>
  </dt>
  <dt>
    <div id="error-email" class="form-error"></div>
  </dt>
  <dd>
    <%= f.text_field :email, class: 'form-input' %>
  </dd>
  <dt>
    <strong><%= f.label :password, 'Пароль:' %></strong>
  </dt>
  <dt>
    <div id="error-password" class="form-error"></div>
  </dt>
  <dd>
    <%= f.password_field :password, class: 'form-input' %>
  </dd>
  <dt>
    <strong><%= f.label :password_confirmation, 'Подтверждение пароля:' %></strong>
  </dt>
  <dd>
    <%= f.password_field :password_confirmation, class: 'form-input' %>
  </dd>
  <dt>
    <strong><%= f.label :name, 'Имя в игре' %></strong>
  </dt>
  <dt>
    <div id="error-name" class="form-error"></div>
  </dt>
  <dd>
    <%= f.text_field :name, class: 'form-input' %>
  </dd>

  <%= f.submit 'Регистрация', class: 'big-button anim-button big-y-button' %>
<% end %>
