<table>
<tr>
  <th>#</th>
  <th>Заголовок</th>
  <th>Тип</th>
  <th>№ локации</th>
  <th>Время на выполнение</th>
  <th>&nbsp;</th>
</tr>

<% @quests.each do |quest| %>
  <tr>
    <td><%= quest.id %></td>
    <td><%= quest.title %></td>
    <td><%= QuestType.find(quest.qtype).name %></td>
    <td><%= quest.location_id %></td>
    <td><%= quest.time_to_make %></td>
    <td><%= link_to 'Показать', admin_quest_path(quest), :remote => true %>
    <%= link_to 'Редактировать', edit_admin_quest_path(quest), :remote => true %>
    <%= link_to 'Удалить', admin_quest_path(quest), :remote => true, 
            :confirm => 'Не передумали удалять?', :method => :delete %></td>
  </tr>
<% end %>
</table>
