<p>
  <b>Заголовок:</b>
  <%= @quest.title %>
</p>
<p>
  <b>Текст:</b>
  <%= @quest.text %>
</p>
<p>
  <b>Тип квеста:</b>
  <%=  QuestType.find(@quest.qtype).name %>
</p>
<p>
  <b>Локация:</b>
  <%= @quest.location_id %>
</p>
<p>
  <b>Время на выполнение:</b>
  <%= @quest.time_to_make %>
</p>
<%= link_to 'Редактировать', edit_admin_quest_path(@quest), :remote => true %> | 
<%= link_to 'Удалить', admin_quest_path(@quest), :remote => true, 
            :confirm => 'Вы не передумали удалять квест?', :method => :delete %>
