<p>
  <%= link_to 'Список', :action => 'index' %>
  <%= link_to 'новый', new_admin_quest_path %>
</p>

<div id="quest_div">
<table>
<tr>
  <th>#</th>
  <th>Заголовок</th>
  <th>Тип</th>
  <th>№ локации</th>
  <th>Время на выполнение</th>
  <th>&nbsp;</th>
  <th>&nbsp;</th>
  <th>&nbsp;</th>
</tr>

<% @quests.each do |quest| %>
  <tr>
    <td><%= quest.id %></td>
    <td><%= quest.title %></td>
    <td><%= QuestTypes.find(quest.qtype).name %></td>
    <td><%= quest.location_id %></td>
    <td><%= quest.time_to_make %></td>
    <td><%= link_to 'Show', admin_quest_path(quest) %></td>
    <td><%= link_to 'Edit', edit_admin_quest_path(quest) %></td>
    <td><%= link_to 'Destroy', admin_quest_path(quest), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>

</table>
</div>
