<p id="notice"><%= notice %></p>

<p>
  <b>Заголовок:</b>
  <%= @quest.title %>
</p>
<p>
  <b>Текст:</b>
  <%= @quest.text %>
</p>
<p>
  <b>Оффлайн:</b>
  <%= check_box(@quest.offline, nil, options = {:checked => @quest.offline}, checked_value = 1, unchecked_value = 0)  %>
</p>
<p>
  <b>Локация:</b>
  <%= @quest.location_id %>
</p>
<p>
  <b>Время на выполнение:</b>
  <%= @quest.time_to_make %>
</p>


<%= link_to 'Edit', edit_admin_quest_path(@quest) %> |
<%= link_to 'Back', admin_quests_path %>
