<table>
<tr>
  <th>#</th>
  <th>e-mail</th>
  <th>статус</th>
  <th>&nbsp;</th>
</tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.email %></td>
    <td><%= user.activation_state %></td>
    <td>
      <%= link_to 'Активировать', admin_user_activate_path(user.id), :remote => true %>
      <%= link_to 'Показать', admin_user_path(user.id), :remote => true %>
      <%= link_to 'Редактировать', edit_admin_user_path(user.id), :remote => true %>
      <%= link_to 'Удалить', admin_user_delete_path(user.id), :remote => true, 
                  :confirm => 'Не передумали удалять?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>
