<table>
<tr>
  <th>#</th>
  <th>e-mail</th>
  <th>&nbsp;</th>
</tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.email %></td>
    <td><%= link_to 'Показать', admin_user_path(user.id), :remote => true %>
    <%= link_to 'Редактировать', nil, :remote => true %>
    <%= link_to 'Удалить', nil, :remote => true, 
            :confirm => 'Не передумали удалять?', :method => :delete %></td>
  </tr>
<% end %>
</table>
