<h1>Login</h1>
<% if logged_in? %>
<p>Вы вошли как, <%= current_user.email %> [ <%= link_to 'Выход', logout_path %> ]</p>
<% end %>
<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<%= render 'form' %>

<h1>Forgot Password?</h1>
<%= render 'forgot_password_form' %>

<%= link_to 'Register', :register %>