<!DOCTYPE html>
<html>
<head>
  <title>Antientropy</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
  <div class="grad-left"></div>
  <div class="grad-right"></div>
  <div class="top-line">

  <% if logged_in?%>
    <div class="username-password">Вы вошли как </div>
  <% else %>
    <div class="helpful-link">
      <%=  'Добро пожаловать' %> |
      <%= link_to 'Регистрация' %> |
      <%= link_to 'Все забыл' %>
    </div>
    <%= form_tag :login, :method => :post, :class => "username-password" do %>
      <%= text_field_tag :email, nil, :placeholder => "Логин" %>
      <%= password_field_tag :password, nil, :placeholder => "Пароль" %>
      <%= check_box_tag :remember, nil, nil, :title => "Запомнить меня" %>
      <%= submit_tag '>' %>
    <% end %>
  <% end%>

  </div>
  <div class="top-logo"></div>

  <%= yield %>

</div>
</body>
</html>
