<!DOCTYPE html>
<html>
<head>
  <title>Antientropy</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  <div id="top-line">

    <div class="greating">  
    <% if logged_in?%>
      Вы вошли как <%= current_user.email %>
    <% else %>
        <%=  'Добро пожаловать' %>
    <% end%>
    </div>
  </div>

  <div class="gradient grad-left"></div>
  <div class="gradient grad-right"></div>
  <div class="control ctrl-prev"></div>
  <div class="control ctrl-next"></div>

  <%= yield %>

  <div class="footer"></div>
</div>
</body>
</html>
