<!DOCTYPE html>
<html>
<head>
  <title>CheckPoint</title>
  <%= stylesheet_link_tag "application" %>
  <%= yield :stylesheets if content_for? :stylesheets %>	
  <%= csrf_meta_tags %>
</head>
<body>
  
  <%= yield %>

<footer>
  <p>trololo footer</p>
</footer>

<%= javascript_include_tag "application" %>
<%= yield :javascripts if content_for? :javascripts %>

</body>
</html>
