<!DOCTYPE html>
<html>
<head>
  <title>Antientropy</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  <div id="top-line">
      
    <% if logged_in?%>
      <div class="username-password">Вы вошли как <%= current_user.email %> </div>
    <% else %>
      <div class="helpful-link">
        <%=  'Добро пожаловать' %> |
        <%= link_to 'Регистрация' %>
      </div>
    <% end%>

  </div>

  <div class="gradient grad-left"></div>
  <div class="gradient grad-right"></div>
  <div class="control ctrl-prev"></div>
  <div class="control ctrl-next"></div>

  <%= yield %>

  <div class="footer"></div>
</div>
</body>
</html>
